html,
* {
  color: #364d65;
}

/* forms */
.form-label {
  margin-bottom: 5px !important;
  font-size: 14px !important;
}

.form-select {
  padding: 9px 14px;
}

.cus-form-control {
  border-radius: 21px;
  border: 0.5px solid #d0d5dd;
  background: #fff;
  display: flex;
  height: 56px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  outline: 0;
}

.cus-form-control:hover {
  outline: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
}

.cus-form-control:focus,
.cus-form-control:active,
.form-select:focus,
.form-select:active {
  outline: 0;
  border: 0.5px solid #2873BA;
  background: #f3f7fd;
  box-shadow: 0px 0px 0px 3px #e8f0fd, 0px 1px 2px 0px rgba(0, 0, 0, 0.05) !important;
}

.cus-form-control-error:focus,
.cus-form-control-error:active {
  outline: 0;
  border: 0.5px solid #f00;
  background: #f3f7fd;
  box-shadow: 0px 0px 0px 3px #e8f0fd, 0px 1px 2px 0px rgba(0, 0, 0, 0.05) !important;
}

.contact-form {
  width: 400px;
  max-width: 450px;
}

.email-sub-form {
  width: 300px;
  max-width: 350px;
  position: relative;
}

.email-sub-input {
  padding-right: 45px !important;
}

.email-sub-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 24px;
}

.email-sub-btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 5px;
  cursor: pointer;
}

/* btn */
.btn {
  display: flex;
  height: 56px;
  padding: 4px 24px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  font-size: 14px;
  flex-shrink: 0;
  text-decoration: none;
}

@media (max-width: 568px) {
  .btn {
    width: 100% !important;
  }
}

.btn-dark {
  background-color: #000 !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #2873ba !important;
  color: #fff !important;
}

.btn-success {
  background-color: #009b50 !important;
  color: #fff !important;
}

.btn-outline-dark {
  border: 0.5px solid #000 !important;
  color: #000 !important;
}

.btn-outline-primary {
  border: 0.5px solid #2873ba !important;
  color: #2873ba !important;
}

.btn-outline-success {
  border: 0.5px solid #009b50 !important;
  color: #009b50 !important;
}

.btn-dark:hover,
.cus-outline-dark:hover,
.btn-close:focus {
  border: 1px solid #d0d5dd;
  box-shadow: 0px 0px 0px 3px #f1f1f1, 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.btn-primary:hover,
.cus-outline-primary:hover {
  border: 0.5px solid #d0d5dd;
  box-shadow: 0px 0px 0px 3px #f1f1f1, 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.btn-success:hover,
.cus-outline-success:hover {
  border: 0.5px solid #009b50;
  box-shadow: 0px 0px 0px 3px rgba(0, 155, 80, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

/* loader */
.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top: 2px solid #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-img {
  animation: growShake 2s ease infinite;
}

.loader-await {
  width: 100%;
  height: 10px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.loader-await::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: gray;
  animation: loaderAwaitAnimation 1800ms infinite;
}

@keyframes growShake {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes loaderAwaitAnimation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* input */
input[type="file"]::-webkit-file-upload-button {
  display: none;
}

input[type="file"]::file-selector-button {
  display: none;
}

.cus-form-file {
  border: 2px dashed #ced4da;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  position: relative;
  border-radius: 21px;
}

.cus-form-file input {
  display: none;
}

.cus-form-file label {
  cursor: pointer;
  width: 100%;
}

.cus-form-file .file-label {
  color: #495057;
  font-weight: 400;
}

.cus-form-file input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.cus-form-file input[type="file"]::before {
  content: "Select file";
  display: inline-block;
  cursor: pointer;
  background: #2873ba;
  color: #fff;
  padding: 8px 12px;
  border-radius: 21px;
  font-size: 14px;
  margin-right: 10px;
}

.cus-form-file input[type="file"]:invalid + label::before {
  content: "No file chosen";
  color: #495057;
}

.cus-form-file input[type="file"]:valid + label::before {
  content: "Change file";
  color: #495057;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 21px;
}

/* scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #80808070;
}

/* text */
.transparent {
  background-color: transparent;
}

.pe-active {
  cursor: pointer;
}

.modal-95w {
  max-width: none !important;
  width: 95%;
}

.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important;
}

.form-check-input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%) !important;
}

/* border */
.border-dashed {
  border: 1px dashed #000;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #000;
}

img {
  pointer-events: none;
}

/* text & bg */
.text-primary {
  color: #364d65 !important;
}

.bg-primary {
  background: #2873BA !important;
}
